h1{
    color: white;
    position: absolute;
    top: 100px;
    left: 50%;
}

.lanuni{
    position: absolute;
    background-color: rgba(245, 245, 245, 0.789);
}
.menuu{
    top: 150px;
    left: 580px;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.435);
}

.tit{
font-size: large;
}

.tot{
font-size: large;
}